# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environment
venv/
.venv/
tests/

# IDE or text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Database files
*.db

# Compiled files
*.pyc

# OS-specific files
.DS_Store
Thumbs.db
